<p>Dear {{profile.username}},</p>

<p>Welcome to Agora Gaming! We&#39;re thrilled to have you join our community of gamers.&lt;br&gt;</p>

<p>At Agora Gaming, we&#39;re all about taking your gaming experience to the next level. Our platform provides you with
    thrilling matchups in the game titles you love and lets you back your talents with real stakes, adding an
    exhilarating enhancement to your gaming experience.</p>

<p>To get started, simply log in to your Agora Gaming account and either create a matchup or enter a challenge code.
    Head to our Discord Server to find other players looking for a showdown or send a challenge link directly to a friend. Should you have any questions or need
    assistance, our support team is at your service.</p>

<p>We&#39;re here to make your gaming journey exciting, rewarding, and memorable. Unleash your gaming potential and
    create unforgettable moments together!</p>

<p>Welcome to the Agora Gaming family!</p>

<p>Game on!</p>

<p>Sincerely,</p>

<p>The Agora Gaming Team</p>

<p>P.S. Stay tuned for upcoming releases and special events &ndash; there&#39;s always something thrilling happening at
    Agora Gaming!</p>