{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>

    <!-- Vite assets -->
     {% vite_asset 'src/main.tsx' %}


    <title inertia>Agora Gaming Club</title>
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<!-- inertia -->
{% block inertia %}{% endblock %}
</body>
</html>
